{% extends 'base.html' %}

{% block title %} {% endblock %}


{% block body %} 



  <div class="bg-img">
    <div class="content">
 <header>Change Pasword</header>
<form method="post" action="{{ url_for('newpw',user_id = account[1] or '') }}" onsubmit="return check();" class="login-form">
  <div class="form-group"> 
    <input class="form-control" type="hidden" name="user_id" placeholder="id" value={{account[1]}}>
  </div>
  <div class="form-group"> 
    <input class="form-control" type="text" name="email"  readonly placeholder="Email Id" value={{account[15]  or '' }} >
  </div>
<div class="form-group">
   
    <input type="password" name="password" class="form-control mt-5" placeholder="Password" id="password">
  </div>
  <span class="error" id="message"></span>
  <div class="form-group">
   
    <input  type="password" name="conf_pwd" class="form-control mt-5" placeholder="Confirm Password" >
  </div>
  {% if error %}
  <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
  <div class="field mt-5">
    <input type="submit" value="Update">
  </div>
  </form>
  
  {% endblock %}